*{
    font-family: Arial;
}
/* inizio logo sony */
#header-top{
    display: flex;
    background-color: black;
}

#sony-logo{
    height: 12px;
    color: black;
    margin: 10px;
}
/* fine logo sony */

/* inizio nav  */
nav{
    font: helvetica;
    position: fixed;
    height: 100px;
    background-color: red;
}
