*{
    font-family: Arial;
}
/* inizio logo sony */
#header-top{
    display: flex;
    background-color: black;
}

#sony-logo{
    height: 12px;
    color: black;
    margin: 10px;
}
/* fine logo sony */

/* inizio nav  */
nav{
    font: helvetica;
    height: 50px;
    background-color: red;
}

.btn {   
    background-color: black; 
    border-style: solid 3px; 

    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

.lente{
    height: 35px;
}

/* inizio jumbo */

.background {
    background-position: center;
    background-size: cover;
}

#sponsored-game{
    background-image: url(img/jumbo-bg.png);
    height: 800px;
}

#sponsored-game-container {
    height: 100%;
    position: relative;   
} 

#sponsored-logo-game {
    width: 300px;
    height: 50px;
}

#name-description {
    width: 100%;
    position: absolute;
    left: 5px;
    bottom: 100px;  
}
/* games */

.game-img {
    margin: 20px 5px;
    
}

#games img {
    width: 100%;
    border-radius: 15px;
}

#games .img-border {
    border-radius: 10px;
    padding: 5px;
}

/* ps5 */
.bottone-blu{
    width: 200px;
}

#testocentrato{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* it takes two */  
#sponsored-game2 {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    height: 800px;
}

